<div id="footer-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section>
										<h2>Saziņa</h2>
										<p>
											<strong>Aizupes pamatskola</strong><br>
											Darba laiks: 08:00 - 16:00<br>
											Tālrunis: <a href="tel:+37163083046">+371 63 083 046</a><br>
											E-pasts: <a href="mailto:aizupespsk@jelgavasnovads.lv">aizupespsk@jelgavasnovads.lv</a>
										</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section>
										<h2>Svarīgas sadaļas</h2>
										<ul class="style2">
											<li><a href="uznemsana.html">Uzņemšana</a></li>
											<li><a href="stundusaraksts.html">Stundu saraksts</a></li>
											<li><a href="biedriba.html">Biedrība</a></li>
											<li><a href="vecakiem.html">Vecākiem</a></li>
											<li><a href="darbinieki.html">Darbinieki</a></li>
										</ul>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section>
										<h2>Adrese</h2>
										<p>
											Tušķi, Līvbērzes pag.,<br>
											Jelgavas novads,<br>
											LV-3003<br>
											<a href="https://maps.app.goo.gl/bQqfStRGKT9V3YeQ8">Atvērt kartē</a>
										</p>
									</section>
								</div>
								<div id="copyright">
									&copy; Vietnes dizains balstīts uz veidni, kuras autors ir <a href="https://html5up.net/minimaxing">HTML5UP</a>, licencēta saskaņā ar <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 (CC BY 3.0)</a> licenci, un ir pielāgota Aizupes pamatskolas vajadzībām.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
