<section>
  <h2>Svarīga informācija</h2>
  <ul class="link-list">
    <li><a href="darbinieki.html">Darbinieki</a></li>
    <li><a href="atbalstapersonals.html">Atbalsta personāls</a></li>
    <li><a href="vertibas.html">Vērtības</a></li>
    <li><a href="uznemsana.html">Uzņemšana</a></li>
    <li><a href="macibuprogrammas.html">Izglītības programmas</a></li>
    <li><a href="ekoskola.html">Ekoskola</a></li>
    <li><a href="biblioteka.html">Bibliotēka</a></li>
    <li><a href="vesture.html">Vēsture</a></li>
  </ul>
</section>
